.btn-morado{
    background-color: rgb(100, 16, 179);
}

.btn-naranja{
    background-color: rgb(255, 69, 0);
}

.fondoSeccion{
    background-image: url(./fondo1.png);

}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
  }
  .imagenCarousel{
    object-fit: cover;
   }
@media all and (min-width:992px) and (max-width: 1400px){
  .imagenCarousel{
    height:200px ;
    object-fit: cover;
   }
}